[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
confluent-kafka = "*"
openpyxl = "*"
psycopg = "==3.2.1"

[dev-packages]
pytest = "*"
bandit = "*"
safety = "*"
pip-audit = "*"
ruff = "*"
mypy = "*"
detect-secrets = "*"

[requires]
python_version = "3.11"
